body{
    background-image: url(../content/fundo.jpg);
    background-attachment: fixed;
}
header{
    height:85px;
    background-color: #16cf10;
}
.container{
    display: flex;
    justify-content: space-between;
    border-width: 1px;
    margin-left: 1px;
    margin-right: 1px;
    flex-direction: row;
    flex-wrap: wrap;

}
.prod{
    display: flex;
    justify-content: space-between;
    border-width: 3px;
    margin-left: 1px;
    margin-right: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    border-color:#FFEEEE;
}
.clear{
    padding-bottom:10px;
    float:top;
    width: 100%;
    text-align:center;
}
.card-body{
    background-color: #181717;
}
.btn{
    background-color:#9dde97;
    text-decoration:none;
    color:#873333;
}
.navbar{
    background-color:#FFEEEE;
}
.navbar-brand{
    color:#873333;
    font-family: Josefin Sans;
    font-size: 70px
}
.nav-link{
    color:#873333;
    font-family: Josefin Sans;
    font-size: 35px;
}
#submit{
    margin:15px 0;
    padding: 2px 0 2px 0;
    border:1px solid rgb(193, 193, 193);
    border-radius: 10px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin:0 auto;
}